<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68614719530-1va4i9dcek7iq31ebqft36hjfmgssf7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68614719530-1va4i9dcek7iq31ebqft36hjfmgssf7n</string>
	<key>API_KEY</key>
	<string>AIzaSyBBNcgPhjZTaye0NX0gfR9phfAJyacW2z4</string>
	<key>GCM_SENDER_ID</key>
	<string>68614719530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessmatesAdmin</string>
	<key>PROJECT_ID</key>
	<string>arduinoproject1-10e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>arduinoproject1-10e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68614719530:ios:1cff4903f4d11656781b53</string>
	<key>DATABASE_URL</key>
	<string>https://arduinoproject1-10e0b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>